@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@using System.Security.Claims
@{
    var url = $"{accessor.HttpContext.Request.Scheme}://{accessor.HttpContext.Request.Host}/";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"]</title>
    @* preserve this css/js order *@
    <link rel="stylesheet" href="@(url +"css/bootstrap.min.css")">
    <script src="@(url +"/js/jquery-3.4.0.js")"></script>
    <script src="@(url +"js/bootstrap.min.js")"></script>
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
